.episode
  %h3.title= "##{@episode.id} #{@episode.name}"
  %p.date= @episode.created_at.strftime("%A, %B %d, %Y")
  = partial :'episode/video', :locals => { :episode => @episode }
  %p.body= @episode.content

%a{:href => "/login?return_to=#{u current_url}"} You must sign in through GitHub to post a comment.
