- @episodes.each do |episode|
  .episode
    %h3.title
      %a{:href => "/episode/#{episode.id}"}
        = "##{episode.id} #{episode.name}"
    %p.date= episode.created_at.strftime("%A, %B %d, %Y")
    = partial :'episode/video', :locals => {:episode => episode}
    %p.body= episode.content
    %p.hr &#9805;
