.episode
  %h3.title= "##{@episode.id} #{@episode.name}"
  %p.date= @episode.created_at.strftime("%A, %B %d, %Y")
  = partial :'episode/video', :locals => { :episode => @episode }
  %p.body= @episode.content

.comments
- if is_logged_in?
  %p.user_info You are logged in as <a href="/user/#{@current_user.id}">#{@current_user.name}</a>.
- else
  %p.user_info You must sing in through GitHub to post a comment. <a href="/login?return_to=#{u current_url}">Sign in!</a>
